@{
    ViewData["Title"] = "Home Page";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div id="quote">
            “If you don’t vote, you lose the right to complain.” – George Carlin
        </div>
    </body>
    </html>
