
@{
    ViewData["Title"] = "AboutUs";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <style>
               .texts {
        display: flex;
        color: #fff;
        align-items: center;
      }
      .mission,
      .vision,
      .election-info {
        padding: 10px;
        flex: 1 1 auto;
      }

      .vl {
        border-left: 6px solid #5fcf80;
        height: 300px;
      }
        </style>
      
        <div class="texts">
            <div class="election-info">
                Our Values: <br />
                Safety - We do not share your information with anyone.<br />
                Privacy - We do not share your choice with anyone. <br />
                Objectivity - We do not promote any candidate. <br />
                Innovation - We always look for improvement of our system. <br />
                Respect - We respect your vote. Your vote is never void.
            </div>
            <div class="vl"></div>
            <div class="mission">
                Our Mission: <br />
                E-lection is a corporation that provides <br />
                an online election service to a widespread <br />
                area -from universities to governments-. We <br />
                have designed an application with a basic <br />
                user interface in order to serve this <br />
                widespread user area.
            </div>
            <div class="vl"></div>
            <div class="vision">
                Our Vision: <br />
                In E-lection, we aim to adapt our online voting <br />
                system to the wide range of institutions that <br />
                we serve in order to make voting process <br />
                easier, faster and safer.
            </div>

    </body>
    </html>

